.banner {
  padding-top: 9.75rem;
  padding-bottom: 9rem;
  background-color: #f8f9fd;
  .container-banner {
    display: flex;
    position: relative;
  }

  .banner-left {
    .text-title {
      max-width: 650px;
      font-size: 3.75rem;
      font-weight: 600;
      line-height: 5rem;
      color: #363848;
      .highlight {
        color: #5f4bdb;
      }
    }
    .text-description {
      max-width: 450px;
      margin-top: 24px;
      line-height: 1.75rem;
    }
    .text-button {
      margin-top: 60px;
      display: flex;
      gap: 20px;
      align-items: center;
      .discover {
        text-decoration: none;
        color: #ffffff;
        font-weight: 600;
        background-color: #5f4bdb;
        padding: 16px 32px;
        border-radius: 37px;
        font-size: 1.125rem;
      }
      .discover:hover {
        transform: scale(1.05);
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        box-shadow: 0px 19px 29px rgba(62, 53, 120, 0.14);
      }
      .play-button {
        padding: 16px;
        border-radius: 50%;
        background-color: #ffffff;
        border: 1px solid #f2f2f2;
      }
      .watch {
        text-decoration: none;
        font-weight: 500;
        font-size: 1.125rem;
        color: #363848;
      }
      .watch:hover {
        transform: scale(1.05);
        cursor: pointer;
      }
    }
    .text-slide {
      margin-top: 86px;
    }
  }
  .banner-right {
    margin-left: 116px;
    .card-profile:hover {
      transform: scale(1.05);
      transition: all 0.3s ease-in-out;
    }

    .ellipse {
      width: 575px;
      height: 575px;
      background: #b3c3ff;
      border-radius: 50%;
      position: relative;
      .card-profile {
        position: absolute;
        width: 416px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 26px;
        top: 341px;
        left: -275px;
        z-index: 1;
        background: rgba(255, 255, 255, 0.74);
        box-shadow: 0px 11px 39px rgba(0, 0, 0, 0.07);
        border-radius: 17px;
        .info {
          .name {
            font-size: 1.625rem;
            font-weight: 600;
            color: #000000;
          }
          .job {
            margin: 10px 0;
            font-size: 0.938rem;
            font-weight: 400;
            color: #000000;
          }
        }
      }
      .circle1 {
        position: absolute;
        right: 46px;
      }
      .circle2 {
        position: absolute;
        top: 400px;
        right: 10px;
      }
      .circles1 {
        position: absolute;
        left: -70px;
      }
      .circles2 {
        position: absolute;
        top: 450px;
        right: -50px;
      }
      .emoji {
        position: absolute;
        top: -120px;
        right: 100px;
      }
      .bars {
        position: absolute;
        top: 100px;
        right: -100px;
      }
    }
  }
}

// GUILDLINE

.guildline {
  margin-top: 55px;
  .container-guildline {
    display: flex;
    align-items: center;
    .guildline-left {
      a {
        text-decoration: none;
        color: #5f4bdb;
        font-size: 1.25rem;
      }
      p {
        margin-top: 15px;
        font-size: 3.125rem;
        font-weight: 600;
        line-height: 4.688rem;
        color: #363848;
      }
      .step-one:hover,
      .step-two:hover,
      .step-three:hover {
        transform: scale(1.05);
        transition: all 0.3s ease-in-out;
        box-shadow: 0px 7px 22px rgba(143, 134, 196, 0.14);
        cursor: pointer;
      }
      .step-one {
        padding: 18px 24px;
        margin-top: 3.875rem;
        margin-right: 32px;
        background: #ffffff;
        box-shadow: 0px 7px 22px rgba(143, 134, 196, 0.07);
        border-radius: 20px;
        display: flex;
        align-items: center;
        .title {
          margin-left: 29px;
          margin-right: auto;
          font-size: 1.5rem;
          font-weight: 600;
          line-height: 2rem;
        }
      }
      .step-two {
        padding: 18px 24px;
        margin-right: 32px;
        background: #ffffff;
        box-shadow: 0px 7px 22px rgba(143, 134, 196, 0.07);
        border-radius: 20px;
        display: flex;
        align-items: flex-start;
        margin-top: 34px;
        .title {
          margin-left: 29px;
          margin-right: auto;
          font-size: 1.5rem;
          font-weight: 600;
          line-height: 2rem;
        }
        .description {
          font-family: "Open Sans", sans-serif;
          margin-top: 10px;
          margin-left: 29px;
          font-size: 1.125rem;
          font-weight: 400;
          line-height: 1.625rem;
          color: #909090;
        }
      }
      .step-three {
        margin-right: 32px;
        padding: 18px 24px;
        background: #ffffff;
        box-shadow: 0px 7px 22px rgba(143, 134, 196, 0.07);
        border-radius: 20px;
        display: flex;
        align-items: center;
        margin-top: 34px;
        .title {
          margin-left: 29px;
          margin-right: auto;
          font-size: 1.5rem;
          font-weight: 600;
          line-height: 2rem;
        }
      }
    }
    .guildline-right {
      .video-bg {
        margin-top: 3.125rem;
        width: 47.063rem;
        height: 41.25rem;
        border-radius: 40px;
        background: #c4c4c4;
        position: relative;
        .video-btn {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          .circleElement {
            position: absolute;
            top: 74px;
            left: 129px;
          }
          .chart {
            position: absolute;
            top: 227px;
            left: 614px;
          }
          .line {
            position: absolute;
            top: 653px;
            left: -30px;
          }
        }
      }
    }
  }
}

.feature {
  padding-top: 10.938rem;
  padding-bottom: 7.188rem;
  .container-feature {
    position: relative;
    .feature-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        font-size: 2rem;
        font-weight: 600;
        color: #363848;
      }
      a {
        text-decoration: none;
        color: #5f4bdb;
        font-size: 1.25rem;
        font-weight: 600;
      }
    }
    .feature-content {
      padding: 1.125rem;
      overflow-y: hidden;
      overflow-x: auto;
      display: flex;
      justify-content: space-between;
      margin-top: 2.7rem;
      gap: 2.563rem;
      .arrow-left {
        position: absolute;
        z-index: 1;
        top: 60%;
        left: 0;
        transform: translateY(-50%);
        cursor: pointer;
      }
      .arrow-right {
        position: absolute;
        z-index: 1;
        top: 60%;
        right: 0;
        transform: translateY(-50%);
        cursor: pointer;
      }
      .card:hover {
        transform: scale(1.05);
        transition: all 0.3s ease-in-out;
        box-shadow: 0px 11px 39px rgba(0, 0, 0, 0.07);
      }
      .card {
        width: 23.375rem;
        padding: 2.5rem;
        background: #ffffff;
        border-radius: 18px;
        box-shadow: 0px 10px 28px rgba(62, 53, 120, 0.07);

        .card-body {
          display: flex;
          align-items: center;
          .content {
            margin-left: 23px;
            .name {
              font-size: 1.25rem;
              font-weight: 600;
            }
            .description {
              margin-top: 5px;
              font-size: 0.938rem;
              font-weight: 400;
            }
          }
        }
        .card-footer {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 42px;
          span {
            margin-left: 8px;
            font-weight: 700;
          }
          a {
            text-decoration: none;
            color: #ffffff;
            padding: 10px 23px;
            background-color: #fe8d4d;
            font-weight: 600;
            border-radius: 37px;
          }
        }
      }
    }
  }
}

.brand {
  img {
    padding: 7.25rem 0 5.25rem;
    width: 100%;
  }
}

.review {
  .review-header {
    margin-top: 4.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
      color: #363848;
      font-size: 2.5rem;
      font-weight: 600;
    }
    .description {
      text-align: center;
      width: 36.5rem;
      margin-top: 30px;
      color: rgba(0, 0, 0, 0.6);
      font-weight: 400;
      line-height: 1.375rem;
    }
  }
  .review-content {
    margin-top: 5.375rem;
    display: flex;
    .left {
      position: relative;
      .comma {
        position: absolute;
        top: 0;
        left: 0;
      }
      .circles3 {
        position: absolute;
        top: 230px;
        left: -46px;
      }
    }
    .right {
      margin-left: 62px;
      margin-top: 36px;
      .header {
        display: flex;
        justify-content: space-between;
        .name {
          font-size: 1.25rem;
          font-weight: 600;
        }
        .description {
          margin-top: 7px;
          font-weight: 400;
          color: #3d3d3d;
        }
        .star-group {
          span {
            margin-left: 20px;
            font-size: 1.875rem;
            font-weight: 600;
            color: #363848;
          }
        }
      }
      .content {
        margin-top: 1.875rem;
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.75rem;
        color: #363848;
      }
      .footer {
        margin-top: 3.75rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .arrow-right {
          margin-left: 20px;
          margin-right: auto;
        }
        .arrow-left-white:hover,
        .arrow-right:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.counting {
  margin-top: 8.125rem;
  margin-bottom: 9.375rem;
  .mask-group {
    background: url(/assets/img/counter.svg);
    background-attachment: fixed;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5.313rem 0;
    .group {
      text-align: center;
      .amount {
        font-size: 3.75rem;
        font-weight: 600;
        color: #ffffff;
        line-height: 5.625rem;
      }
      .description {
        margin-top: 20px;
        font-size: 1.125rem;
        font-weight: 400;
        color: #ffffff;
      }
    }
  }
}

.pricing {
  background-color: #fdfdfd;
  padding: 3.75rem 0;
  .pricing-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    .title {
      color: #363848;
      font-size: 2.5rem;
      font-weight: 600;
      line-height: 3.75rem;
    }
    .description {
      margin-top: 30px;
      color: rgba(0, 0, 0, 0.6);
      font-weight: 400;
      line-height: 1.375rem;
    }
  }
  .pricing-content {
    padding: 0 4rem;
    margin-top: 5.625rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    .card:hover {
      box-shadow: 0px 19px 29px rgba(62, 53, 120, 0.14);
      cursor: pointer;
      transform: scale(1.05);
      transition: all 0.3s ease-in-out;
    }
    .card {
      text-align: center;
      padding: 2.813rem;
      background-color: #ffffff;
      box-shadow: 0px 10px 28px rgba(62, 53, 120, 0.07);
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .card-header {
        .title {
          font-size: 1.75rem;
          font-weight: 700;
          color: #363848;
        }
      }
      .card-price {
        margin-top: 2.375rem;
        .price {
          font-size: 3.75rem;
          font-weight: 600;
          color: #363848;
          line-height: 5.625rem;
        }
        .about {
          font-size: 1.125rem;
        }
      }
      .card-body {
        margin-top: 3.313rem;
        .description {
          display: flex;
          align-items: center;
          margin-top: 20px;
          span {
            margin-left: 30px;
          }
        }
      }
      .card-footer {
        margin-top: 3.313rem;
        button {
          white-space: nowrap;
          border: none;
          padding: 1rem 6.375rem;
          background-color: #f7f5ff;
          border-radius: 60px;
          font-size: 1.125rem;
          font-weight: 600;
        }
        button:hover {
          background-color: #5f4bdb;
          color: #ffffff;
          cursor: pointer;
        }
      }
    }
  }
}

.signup {
  background-color: #1f2131;
  margin-top: 14.375rem;
  .signup-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 107px 0;
    p {
      width: 46.875rem;
      font-size: 2.75rem;
      font-weight: 600;
      line-height: 4.75rem;
      color: #ffffff;
    }
    .register {
      padding: 10px;
      width: 34.125rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid #3d3f4e;
      background-color: #1f2131;
      border-radius: 37px;
      #register-input {
        background-color: #1f2131;
        margin-left: 37px;
        border: none;
        outline: none;
        font-size: 1.125rem;
        font-weight: 400;
        color: #72737c;
      }
      .subscribe-btn {
        text-decoration: none;
        padding: 16px 50px;
        font-size: 1.125rem;
        font-weight: 600;
        background-color: #fe8d4d;
        box-shadow: 0px 19px 29px rgba(62, 53, 120, 0.14);
        border-radius: 37px;
        color: #ffffff;
        cursor: pointer;
      }
    }
  }
}
