.banner {
  padding-top: 9.75rem;
  padding-bottom: 9rem;
  background-color: #f8f9fd;
}
.banner .container-banner {
  display: flex;
  position: relative;
}
.banner .banner-left .text-title {
  max-width: 650px;
  font-size: 3.75rem;
  font-weight: 600;
  line-height: 5rem;
  color: #363848;
}
.banner .banner-left .text-title .highlight {
  color: #5f4bdb;
}
.banner .banner-left .text-description {
  max-width: 450px;
  margin-top: 24px;
  line-height: 1.75rem;
}
.banner .banner-left .text-button {
  margin-top: 60px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.banner .banner-left .text-button .discover {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  background-color: #5f4bdb;
  padding: 16px 32px;
  border-radius: 37px;
  font-size: 1.125rem;
}
.banner .banner-left .text-button .discover:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: 0px 19px 29px rgba(62, 53, 120, 0.14);
}
.banner .banner-left .text-button .play-button {
  padding: 16px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid #f2f2f2;
}
.banner .banner-left .text-button .watch {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.125rem;
  color: #363848;
}
.banner .banner-left .text-button .watch:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.banner .banner-left .text-slide {
  margin-top: 86px;
}
.banner .banner-right {
  margin-left: 116px;
}
.banner .banner-right .card-profile:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
.banner .banner-right .ellipse {
  width: 575px;
  height: 575px;
  background: #b3c3ff;
  border-radius: 50%;
  position: relative;
}
.banner .banner-right .ellipse .card-profile {
  position: absolute;
  width: 416px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px;
  top: 341px;
  left: -275px;
  z-index: 1;
  background: rgba(255, 255, 255, 0.74);
  box-shadow: 0px 11px 39px rgba(0, 0, 0, 0.07);
  border-radius: 17px;
}
.banner .banner-right .ellipse .card-profile .info .name {
  font-size: 1.625rem;
  font-weight: 600;
  color: #000000;
}
.banner .banner-right .ellipse .card-profile .info .job {
  margin: 10px 0;
  font-size: 0.938rem;
  font-weight: 400;
  color: #000000;
}
.banner .banner-right .ellipse .circle1 {
  position: absolute;
  right: 46px;
}
.banner .banner-right .ellipse .circle2 {
  position: absolute;
  top: 400px;
  right: 10px;
}
.banner .banner-right .ellipse .circles1 {
  position: absolute;
  left: -70px;
}
.banner .banner-right .ellipse .circles2 {
  position: absolute;
  top: 450px;
  right: -50px;
}
.banner .banner-right .ellipse .emoji {
  position: absolute;
  top: -120px;
  right: 100px;
}
.banner .banner-right .ellipse .bars {
  position: absolute;
  top: 100px;
  right: -100px;
}

.guildline {
  margin-top: 55px;
}
.guildline .container-guildline {
  display: flex;
  align-items: center;
}
.guildline .container-guildline .guildline-left a {
  text-decoration: none;
  color: #5f4bdb;
  font-size: 1.25rem;
}
.guildline .container-guildline .guildline-left p {
  margin-top: 15px;
  font-size: 3.125rem;
  font-weight: 600;
  line-height: 75px;
  color: #363848;
}
.guildline .container-guildline .guildline-left .step-one:hover,
.guildline .container-guildline .guildline-left .step-two:hover,
.guildline .container-guildline .guildline-left .step-three:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 7px 22px rgba(143, 134, 196, 0.14);
  cursor: pointer;
}
.guildline .container-guildline .guildline-left .step-one {
  padding: 18px 24px;
  margin-top: 62px;
  margin-right: 32px;
  background: #ffffff;
  box-shadow: 0px 7px 22px rgba(143, 134, 196, 0.07);
  border-radius: 20px;
  display: flex;
  align-items: center;
}
.guildline .container-guildline .guildline-left .step-one .title {
  margin-left: 29px;
  margin-right: auto;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 32px;
}
.guildline .container-guildline .guildline-left .step-two {
  padding: 18px 24px;
  margin-right: 32px;
  background: #ffffff;
  box-shadow: 0px 7px 22px rgba(143, 134, 196, 0.07);
  border-radius: 20px;
  display: flex;
  align-items: flex-start;
  margin-top: 34px;
}
.guildline .container-guildline .guildline-left .step-two .title {
  margin-left: 29px;
  margin-right: auto;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 32px;
}
.guildline .container-guildline .guildline-left .step-two .description {
  font-family: "Open Sans", sans-serif;
  margin-top: 10px;
  margin-left: 29px;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 26px;
  color: #909090;
}
.guildline .container-guildline .guildline-left .step-three {
  margin-right: 32px;
  padding: 18px 24px;
  background: #ffffff;
  box-shadow: 0px 7px 22px rgba(143, 134, 196, 0.07);
  border-radius: 20px;
  display: flex;
  align-items: center;
  margin-top: 34px;
}
.guildline .container-guildline .guildline-left .step-three .title {
  margin-left: 29px;
  margin-right: auto;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 32px;
}
.guildline .container-guildline .guildline-right .video-bg {
  margin-top: 3.125rem;
  width: 47.063rem;
  height: 41.25rem;
  border-radius: 40px;
  background: #c4c4c4;
  position: relative;
}
.guildline .container-guildline .guildline-right .video-bg .video-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.guildline .container-guildline .guildline-right .video-bg .video-btn .circleElement {
  position: absolute;
  top: 74px;
  left: 129px;
}
.guildline .container-guildline .guildline-right .video-bg .video-btn .chart {
  position: absolute;
  top: 227px;
  left: 614px;
}
.guildline .container-guildline .guildline-right .video-bg .video-btn .line {
  position: absolute;
  top: 653px;
  left: -30px;
}

.feature {
  padding-top: 10.938rem;
  padding-bottom: 7.188rem;
}
.feature .container-feature {
  position: relative;
}
.feature .container-feature .feature-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.feature .container-feature .feature-header p {
  font-size: 2rem;
  font-weight: 600;
  color: #363848;
}
.feature .container-feature .feature-header a {
  text-decoration: none;
  color: #5f4bdb;
  font-size: 1.25rem;
  font-weight: 600;
}
.feature .container-feature .feature-content {
  padding: 1.125rem;
  overflow-y: hidden;
  overflow-x: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 2.7rem;
  gap: 2.563rem;
}
.feature .container-feature .feature-content .arrow-left {
  position: absolute;
  z-index: 1;
  top: 60%;
  left: 0;
  transform: translateY(-50%);
  cursor: pointer;
}
.feature .container-feature .feature-content .arrow-right {
  position: absolute;
  z-index: 1;
  top: 60%;
  right: 0;
  transform: translateY(-50%);
  cursor: pointer;
}
.feature .container-feature .feature-content .card:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 11px 39px rgba(0, 0, 0, 0.07);
}
.feature .container-feature .feature-content .card {
  width: 23.375rem;
  padding: 2.5rem;
  background: #ffffff;
  border-radius: 18px;
  box-shadow: 0px 10px 28px rgba(62, 53, 120, 0.07);
}
.feature .container-feature .feature-content .card .card-body {
  display: flex;
  align-items: center;
}
.feature .container-feature .feature-content .card .card-body .content {
  margin-left: 23px;
}
.feature .container-feature .feature-content .card .card-body .content .name {
  font-size: 1.25rem;
  font-weight: 600;
}
.feature .container-feature .feature-content .card .card-body .content .description {
  margin-top: 5px;
  font-size: 0.938rem;
  font-weight: 400;
}
.feature .container-feature .feature-content .card .card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 42px;
}
.feature .container-feature .feature-content .card .card-footer span {
  margin-left: 8px;
  font-weight: 700;
}
.feature .container-feature .feature-content .card .card-footer a {
  text-decoration: none;
  color: #ffffff;
  padding: 10px 23px;
  background-color: #fe8d4d;
  font-weight: 600;
  border-radius: 37px;
}

.brand img {
  padding: 7.25rem 0 5.25rem;
  width: 100%;
}

.review .review-header {
  margin-top: 4.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.review .review-header .title {
  color: #363848;
  font-size: 2.5rem;
  font-weight: 600;
}
.review .review-header .description {
  text-align: center;
  width: 36.5rem;
  margin-top: 30px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
  line-height: 22px;
}
.review .review-content {
  margin-top: 5.375rem;
  display: flex;
}
.review .review-content .left {
  position: relative;
}
.review .review-content .left .comma {
  position: absolute;
  top: 0;
  left: 0;
}
.review .review-content .left .circles3 {
  position: absolute;
  top: 230px;
  left: -46px;
}
.review .review-content .right {
  margin-left: 62px;
  margin-top: 36px;
}
.review .review-content .right .header {
  display: flex;
  justify-content: space-between;
}
.review .review-content .right .header .name {
  font-size: 1.25rem;
  font-weight: 600;
}
.review .review-content .right .header .description {
  margin-top: 7px;
  font-weight: 400;
  color: #3d3d3d;
}
.review .review-content .right .header .star-group span {
  margin-left: 20px;
  font-size: 1.875rem;
  font-weight: 600;
  color: #363848;
}
.review .review-content .right .content {
  margin-top: 1.875rem;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 28px;
  color: #363848;
}
.review .review-content .right .footer {
  margin-top: 3.75rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.review .review-content .right .footer .arrow-right {
  margin-left: 20px;
  margin-right: auto;
}
.review .review-content .right .footer .arrow-left-white:hover,
.review .review-content .right .footer .arrow-right:hover {
  cursor: pointer;
}

.counting {
  margin-top: 8.125rem;
  margin-bottom: 9.375rem;
}
.counting .mask-group {
  background: url(/assets/img/counter.svg);
  background-attachment: fixed;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5.313rem 0;
}
.counting .mask-group .group {
  text-align: center;
}
.counting .mask-group .group .amount {
  font-size: 3.75rem;
  font-weight: 600;
  color: #ffffff;
  line-height: 90px;
}
.counting .mask-group .group .description {
  margin-top: 20px;
  font-size: 1.125rem;
  font-weight: 400;
  color: #ffffff;
}

.pricing {
  background-color: #fdfdfd;
  padding: 3.75rem 0;
}
.pricing .pricing-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.pricing .pricing-header .title {
  color: #363848;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 60px;
}
.pricing .pricing-header .description {
  margin-top: 30px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
  line-height: 22px;
}
.pricing .pricing-content {
  padding: 0 4rem;
  margin-top: 5.625rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.pricing .pricing-content .card:hover {
  box-shadow: 0px 19px 29px rgba(62, 53, 120, 0.14);
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
.pricing .pricing-content .card {
  text-align: center;
  padding: 2.813rem;
  background-color: #ffffff;
  box-shadow: 0px 10px 28px rgba(62, 53, 120, 0.07);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pricing .pricing-content .card .card-header .title {
  font-size: 1.75rem;
  font-weight: 700;
  color: #363848;
}
.pricing .pricing-content .card .card-price {
  margin-top: 2.375rem;
}
.pricing .pricing-content .card .card-price .price {
  font-size: 3.75rem;
  font-weight: 600;
  color: #363848;
  line-height: 90px;
}
.pricing .pricing-content .card .card-price .about {
  font-size: 1.125rem;
}
.pricing .pricing-content .card .card-body {
  margin-top: 3.313rem;
}
.pricing .pricing-content .card .card-body .description {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.pricing .pricing-content .card .card-body .description span {
  margin-left: 30px;
}
.pricing .pricing-content .card .card-footer {
  margin-top: 3.313rem;
}
.pricing .pricing-content .card .card-footer button {
  white-space: nowrap;
  border: none;
  padding: 1rem 6.375rem;
  background-color: #f7f5ff;
  border-radius: 60px;
  font-size: 1.125rem;
  font-weight: 600;
}
.pricing .pricing-content .card .card-footer button:hover {
  background-color: #5f4bdb;
  color: #ffffff;
  cursor: pointer;
}

.signup {
  background-color: #1f2131;
  margin-top: 14.375rem;
}
.signup .signup-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 107px 0;
}
.signup .signup-content p {
  width: 46.875rem;
  font-size: 2.75rem;
  font-weight: 600;
  line-height: 76px;
  color: #ffffff;
}
.signup .signup-content .register {
  padding: 10px;
  width: 34.125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #3d3f4e;
  background-color: #1f2131;
  border-radius: 37px;
}
.signup .signup-content .register #register-input {
  background-color: #1f2131;
  margin-left: 37px;
  border: none;
  outline: none;
  font-size: 1.125rem;
  font-weight: 400;
  color: #72737c;
}
.signup .signup-content .register .subscribe-btn {
  text-decoration: none;
  padding: 16px 50px;
  font-size: 1.125rem;
  font-weight: 600;
  background-color: #fe8d4d;
  box-shadow: 0px 19px 29px rgba(62, 53, 120, 0.14);
  border-radius: 37px;
  color: #ffffff;
  cursor: pointer;
}/*# sourceMappingURL=content.css.map */