.banner {
  height: 813px;
  background-color: #f8f9fd;
}
.banner .banner-left {
  margin-top: 156px;
}
.banner .banner-left .text-title {
  max-width: 650px;
  font-size: 3.75rem;
  font-weight: 600;
  line-height: 5rem;
  color: #363848;
}
.banner .banner-left .text-title .highlight {
  color: #5f4bdb;
}
.banner .banner-left .text-description {
  max-width: 450px;
  margin-top: 24px;
  line-height: 1.75rem;
}
.banner .banner-left .text-button {
  margin-top: 60px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.banner .banner-left .text-button .discover {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  background-color: #5f4bdb;
  padding: 16px 32px;
  box-shadow: 0px 19px 29px rgba(62, 53, 120, 0.14);
  border-radius: 37px;
  font-size: 1.125rem;
}
.banner .banner-left .text-button .discover:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.banner .banner-left .text-button .play-button {
  padding: 16px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid #f2f2f2;
}
.banner .banner-left .text-button .watch {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.125rem;
  color: #363848;
}
.banner .banner-left .text-button .watch:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.banner .banner-left .text-slide {
  margin-top: 86px;
}
.banner .banner-right {
  position: relative;
}
.banner .banner-right .circle1 {
  position: absolute;
  top: 184px;
  left: 529px;
}
.banner .banner-right .circle2 {
  position: absolute;
  top: 582px;
  left: 556px;
}
.banner .banner-right .circles1 {
  position: absolute;
  top: 195px;
  left: -50px;
}
.banner .banner-right .circles2 {
  position: absolute;
  top: 636px;
  left: 638px;
}
.banner .banner-right .ellipse {
  position: absolute;
  top: 194px;
  left: 32px;
}
.banner .banner-right .emoji {
  position: absolute;
  top: 87px;
  left: 372px;
}
.banner .banner-right .bars {
  position: absolute;
  top: 276px;
  left: 484px;
}
.banner .banner-right .card-profile:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
.banner .banner-right .card-profile {
  position: absolute;
  top: 550px;
  left: -230px;
  width: 416px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px;
  background: rgba(255, 255, 255, 0.74);
  box-shadow: 0px 11px 39px rgba(0, 0, 0, 0.07);
  border-radius: 17px;
}
.banner .banner-right .card-profile .info .name {
  font-size: 1.625rem;
  font-weight: 600;
  color: #000000;
}
.banner .banner-right .card-profile .info .job {
  margin: 10px 0;
  font-size: 0.938rem;
  font-weight: 400;
  color: #000000;
}

.guildline {
  margin-top: 55px;
  height: 851px;
}
.guildline .guildline-left a {
  text-decoration: none;
  color: #5f4bdb;
  font-size: 1.25rem;
}
.guildline .guildline-left p {
  width: 670px;
  margin-top: 15px;
  font-size: 3.125rem;
  font-weight: 600;
  line-height: 75px;
  color: #363848;
}
.guildline .guildline-left .step-one {
  padding: 18px 24px;
  margin-top: 62px;
  background: #ffffff;
  box-shadow: 0px 7px 22px rgba(143, 134, 196, 0.07);
  border-radius: 20px;
  width: 650px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.guildline .guildline-left .step-one .title {
  margin-left: 29px;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 32px;
}
.guildline .guildline-left .step-two {
  padding: 18px 24px;
  background: #ffffff;
  box-shadow: 0px 19px 29px rgba(62, 53, 120, 0.14);
  border-radius: 20px;
  width: 650px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 34px;
}
.guildline .guildline-left .step-two .title {
  margin-left: 29px;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 32px;
}
.guildline .guildline-left .step-two .description {
  font-family: "Open Sans", sans-serif;
  margin-top: 10px;
  margin-left: 29px;
  font-size: 1.125rem;
  font-weight: 400;
  width: 478px;
  line-height: 26px;
  color: #909090;
}
.guildline .guildline-left .step-three {
  padding: 18px 24px;
  background: #ffffff;
  box-shadow: 0px 7px 22px rgba(143, 134, 196, 0.07);
  border-radius: 20px;
  width: 650px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 34px;
}
.guildline .guildline-left .step-three .title {
  margin-left: 29px;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 32px;
}
.guildline .guildline-right {
  position: relative;
}
.guildline .guildline-right .video {
  position: absolute;
  top: 131px;
  padding: 285px 332px;
  background-color: #c4c4c4;
  border-radius: 40px;
}
.guildline .guildline-right .circleElement {
  position: absolute;
  top: 74px;
  left: 129px;
}
.guildline .guildline-right .chart {
  position: absolute;
  top: 227px;
  left: 614px;
}
.guildline .guildline-right .line {
  position: absolute;
  top: 653px;
  left: -30px;
}

.feature .feature-header {
  justify-content: space-between;
  align-items: center;
}
.feature .feature-header p {
  font-size: 2rem;
  font-weight: 600;
  color: #363848;
}
.feature .feature-header a {
  text-decoration: none;
  color: #5f4bdb;
  font-size: 1.25rem;
  font-weight: 600;
}
.feature .feature-content {
  position: relative;
  margin-top: 43px;
  margin-left: -20px;
  margin-right: -20px;
}
.feature .feature-content .arrow-left {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  cursor: pointer;
}
.feature .feature-content .arrow-right {
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  cursor: pointer;
}
.feature .feature-content .card:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 11px 39px rgba(0, 0, 0, 0.07);
}
.feature .feature-content .card {
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 2px 28px rgba(62, 53, 120, 0.04);
  border-radius: 18px;
}
.feature .feature-content .card .card-body {
  display: flex;
  align-items: center;
}
.feature .feature-content .card .card-body .content {
  margin-left: 23px;
}
.feature .feature-content .card .card-body .content .name {
  font-size: 1.25rem;
  font-weight: 600;
}
.feature .feature-content .card .card-body .content .description {
  margin-top: 5px;
  font-size: 0.938rem;
  font-weight: 400;
}
.feature .feature-content .card .card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 42px;
}
.feature .feature-content .card .card-footer span {
  margin-left: 8px;
  font-weight: 700;
}
.feature .feature-content .card .card-footer a {
  text-decoration: none;
  color: #ffffff;
  padding: 10px 23px;
  background-color: #fe8d4d;
  font-weight: 600;
  border-radius: 37px;
}

.brand {
  text-align: center;
}
.brand img {
  padding: 116px 0 84px;
}

.review .review-header {
  margin-top: 76px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.review .review-header .title {
  color: #363848;
  font-size: 2.5rem;
  font-weight: 600;
}
.review .review-header .description {
  width: 584px;
  margin-top: 30px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
  line-height: 22px;
}
.review .review-content {
  margin-top: 86px;
  padding: 0 140px;
  display: flex;
}
.review .review-content .left {
  position: relative;
  width: 369px;
}
.review .review-content .left .placeholder2 {
  position: absolute;
}
.review .review-content .left .comma {
  position: absolute;
  top: -25px;
}
.review .review-content .left .circles3 {
  position: absolute;
  top: 230px;
  left: -46px;
}
.review .review-content .right {
  width: 917px;
  margin-left: 62px;
  margin-top: 36px;
}
.review .review-content .right .header {
  display: flex;
  justify-content: space-between;
}
.review .review-content .right .header .name {
  font-size: 1.25rem;
  font-weight: 600;
}
.review .review-content .right .header .description {
  margin-top: 7px;
  font-weight: 400;
  color: #3d3d3d;
}
.review .review-content .right .header .star-group span {
  margin-left: 20px;
  font-size: 1.875rem;
  font-weight: 600;
  color: #363848;
}
.review .review-content .right .content {
  margin-top: 30px;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 28px;
  color: #363848;
}
.review .review-content .right .footer {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.review .review-content .right .footer .arrow-right {
  margin-left: 20px;
}

.counting {
  margin-top: 130px;
  margin-bottom: 150px;
}
.counting .container {
  position: relative;
}
.counting .container .row {
  position: absolute;
  top: 85px;
  left: 160px;
  width: 1300px;
}
.counting .container .row .group {
  text-align: center;
}
.counting .container .row .group .amount {
  font-size: 3.75rem;
  font-weight: 600;
  color: #ffffff;
  line-height: 90px;
}
.counting .container .row .group .description {
  margin-top: 20px;
  font-size: 1.125rem;
  font-weight: 400;
  color: #ffffff;
}
.counting .container .mask-group {
  background: #5f4bdb;
  border-radius: 20px;
  width: 100%;
}

.pricing {
  background-color: #fdfdfd;
  padding: 60px 0;
}
.pricing .pricing-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.pricing .pricing-header .title {
  color: #363848;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 60px;
}
.pricing .pricing-header .description {
  width: 716px;
  margin-top: 30px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
  line-height: 22px;
}
.pricing .pricing-content {
  margin-top: 90px;
}
.pricing .pricing-content .row {
  padding: 0 140px;
}
.pricing .pricing-content .row .bold-shadow {
  box-shadow: 0px 19px 29px rgba(62, 53, 120, 0.14) !important;
}
.pricing .pricing-content .row .card {
  text-align: center;
  padding: 45px;
  background-color: #ffffff;
  box-shadow: 0px 10px 28px rgba(62, 53, 120, 0.07);
  border-radius: 20px;
}
.pricing .pricing-content .row .card .card-header .title {
  font-size: 1.75rem;
  font-weight: 700;
  color: #363848;
}
.pricing .pricing-content .row .card .card-price {
  margin-top: 38px;
}
.pricing .pricing-content .row .card .card-price .price {
  font-size: 3.75rem;
  font-weight: 600;
  color: #363848;
  line-height: 90px;
}
.pricing .pricing-content .row .card .card-price .about {
  font-size: 1.125rem;
}
.pricing .pricing-content .row .card .card-body {
  margin-top: 53px;
}
.pricing .pricing-content .row .card .card-body .description {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.pricing .pricing-content .row .card .card-body .description span {
  margin-left: 30px;
}
.pricing .pricing-content .row .card .card-footer {
  margin-top: 53px;
}
.pricing .pricing-content .row .card .card-footer a {
  padding: 16px 102px;
  text-decoration: none;
  background-color: #f7f5ff;
  border-radius: 60px;
  color: #5f4bdb;
  font-size: 1.125rem;
  font-weight: 600;
}
.pricing .pricing-content .row .card .card-footer .btn-purple {
  background-color: #5f4bdb;
  color: #ffffff;
}

.signup {
  background-color: #1f2131;
  margin-top: 230px;
}
.signup .signup-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 107px 0;
}
.signup .signup-content p {
  width: 750px;
  font-size: 2.75rem;
  font-weight: 600;
  line-height: 76px;
  color: #ffffff;
}
.signup .signup-content .register {
  padding: 10px;
  width: 546px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #3d3f4e;
  background-color: #1f2131;
  border-radius: 37px;
}
.signup .signup-content .register #register-input {
  background-color: #1f2131;
  margin-left: 37px;
  border: none;
  outline: none;
  font-size: 1.125rem;
  font-weight: 400;
  color: #72737c;
}
.signup .signup-content .register .subscribe-btn {
  text-decoration: none;
  padding: 16px 50px;
  font-size: 1.125rem;
  font-weight: 600;
  background-color: #fe8d4d;
  box-shadow: 0px 19px 29px rgba(62, 53, 120, 0.14);
  border-radius: 37px;
  color: #ffffff;
  cursor: pointer;
}/*# sourceMappingURL=content.css.map */