header {
  padding: 35px 0;
  background-color: #f8f9fd;
}

.container-header {
  display: flex;
  align-items: center;
}

.collapse {
  display: none;
  .container-collapse {
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 35px 0;
    background-color: #ffffff;
    .navbar-collapse {
      display: flex;
      align-items: center;
      list-style: none;
      .nav-collapse-item {
        padding: 16px;
        white-space: nowrap;
        a {
          text-decoration: none;
          font-size: 1.125rem;
          color: #363848;
        }
      }
    }
    .auth-collapse {
      display: flex;
      .login-collapse {
        border: none;
        padding: 1.063rem 2.438rem;
        background-color: #f0eeff;
        border-radius: 37px;
        font-weight: 600;
        font-size: 1.125rem;
        color: #363848;
      }
      .register-collapse {
        white-space: nowrap;
        color: #ffffff;
        border: none;
        font-weight: 600;
        margin-left: 20px;
        padding: 1.063rem 2.438rem;
        background-color: #6f63ff;
        border-radius: 37px;
        font-size: 1.125rem;
      }
    }
  }
}

.active {
  display: block;
}

.navbar {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0 auto;
  .nav-item {
    padding: 16px;
    white-space: nowrap;
    a {
      text-decoration: none;
      font-size: 1.125rem;
      color: #363848;
    }
  }
}
.search {
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-radius: 37px;
  width: 24.063rem;
  padding: 1rem 1.875rem;
  #search-input {
    border: none;
    outline: none;
    font-size: 1.125rem;
    color: #818181;
  }
}
.auth {
  display: flex;
  .login {
    border: none;
    padding: 1.063rem 2.438rem;
    background-color: #f0eeff;
    border-radius: 37px;
    font-weight: 600;
    font-size: 1.125rem;
    color: #363848;
  }
  .register {
    white-space: nowrap;
    color: #ffffff;
    border: none;
    font-weight: 600;
    margin-left: 20px;
    font-size: 1.125rem;
    padding: 1.063rem 3.375rem;
    background-color: #5f4bdb;
    border-radius: 37px;
    box-shadow: 0px 19px 29px rgba(62, 53, 120, 0.14);
  }
}

.navbar-toggle {
  display: none;
}
